:root {
  --font-size-h1: 6.2rem;
  --font-size-subheading: 1.8rem;
  --font-size-body: 1.6rem;
  --font-weight-bold: 700;
  --font-color-darkgrey: #212529;
  --font-color-blue-link: #3b5bdb;
  --font-color-blue-link-hover: #4263eb;
  --background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%; /*when you set this, 1rem = 10px */
  line-height: 1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.4rem;
  background-color: var(--background-color);
  color: var(--font-color-darkgrey);
}

h1 {
  font-size: 4.2rem;
}

.underline {
  text-decoration: underline;
}

/*************************/
/* NAVBAR */
/*************************/
.nav-header {
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  margin: auto;
  margin-bottom: 2.4rem;
  max-width: 80rem;
  background-color: #343a40;
  border-radius: 2rem;
}

.nav-ul {
  display: flex;
}

.nav-li {
  list-style: none;
  display: inline;
  color: #fff;
}

.nav-link {
  padding: 0.8rem;
  font-weight: 600;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--color-blue-grey-primary);
}

.nav-link:hover,
.nav-link:active {
  color: #f7f7f7;
  background-color: #495057;
  border-radius: 2rem;
}

/*************************/
/* main section */
/*************************/
.main {
  max-width: 90rem;
  /* background-color: #f7f7f7; */
  display: grid;
  padding: 1.2rem;
  /* grid-template-columns: 2fr 1fr; */
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.header-container {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
}

.hero-container {
  /* display: grid;
  grid-template-columns: 2fr 1fr; */
  display: block;
  gap: 1.6rem;
}

.profile-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 28rem;
  justify-self: center;
  order: 1;
} 


.profile-img {
  border-radius: 50%;
  object-fit: cover;
  height: auto;
  box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.16);
  max-width: 30%; /* was 28rem */
  aspect-ratio: 1 / 1;
  margin: 0 0 1.2rem 1rem;
  float: right;
}

.name-txt {
  font-weight: var(--font-weight-bold);
  font-family: "Merriweather", "Inter", sans-serif;
}

.hero-txt {
  font-weight: 500;
  font-size: var(--font-size-subheading);
  line-height: 1.4;
}

.description-txt-container { /* removed */
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.description-txt {
  font-weight: 400;
  font-size: var(--font-size-body);
  line-height: 1.5;
  color: #212529;
  margin-bottom: 1.8rem; /* added when text wraps image */
}

.in-text-link {
  color: #3b5bdb;
}

.in-text-link:link,
.in-text-link:visited {
  color: #3b5bdb;
  text-decoration: none;
}

.in-text-link:active,
.in-text-link:hover {
  color: #4263eb;
  text-decoration: underline;
}

/*************************/
/* iamges section */
/*************************/
.imgs-section {
  max-width: 90rem;
  display: flex;
  gap: 6.4rem;
  padding: 1.2rem;
  margin-bottom: 1.6rem;
}

.img-container {
  max-width: 7.2rem;
}

.img {
  max-width: 100%;
  height: auto;
}

/*************************/
/* publications section */
/*************************/

.publications-section {
  max-width: 90rem;
  margin-bottom: 5.2rem;
  padding: 1.2rem;
}

.publications-head-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 2rem;
}

.publications-header {
  font-size: 2.6rem;
}

.publications-container {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.publication {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.publication-title,
.publication-link,
.publication-link:link,
.publication-link:visited {
  font-size: var(--font-size-subheading);
  font-weight: 500;
  line-height: 1.4;
  text-decoration: none;
  color: var(--font-color-darkgrey)
}

.publication-link:active,
.publication-link:hover {
  color: var(--font-color-blue-link);
}

.author-list {
  font-size: 1.4rem;
  line-height: 1.2;
}

/*************************/
/* links section */
/*************************/

.links-section {
  max-width: 90rem;
  display: flex;
  gap: 2.4rem;
  padding: 1.2rem;
}

.link-tile {
  max-width: 6.4rem;
}

.link-img {
  max-width: 100%; /* ensures the img doesn't exceed width of the container */
  height: auto; /* maintains aspect ratio of image*/
}

.link-img:hover {
  transform: scale(1.05);
}

.github-logo {
  content: url('imgs/gihub-img.png');
  /* max-width: 100%;
  height: auto; */
}

/*************************/
/* media queries */
/*************************/

/* 1190px / 16 = 74.375em */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 40em) {
  .main {
    /* background-color: red; */
    grid-template-columns: 1fr;
    margin-bottom: 0rem;
    gap: 0;
  }

  .hero-container {
    grid-template-columns: 1fr;
  }

  .profile-img-container {
    order: unset;
  }

  .profile-img {
    float: none;
    max-width: 75%;
    display: block;
    margin: 0 auto 1.6rem;
  }

  .description-txt {
    font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 2rem;
  }

  .author-list {
    font-size: 1.5rem;
    line-height: 1.4;
  }
}

/* dark mode media query */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #212529;
    --font-color-darkgrey: #ced4da;
  }

  .description-txt {
    color: var(--font-color-darkgrey);
  }

  .github-logo {
    content: url(imgs/github-white.webp);
  }
}
